body
{
    background color: black;
}
.left{
    position: absolute;
    width: 400px;
    height: 500px;
    left: 25px;
    top: 20px
    
}
div{
    display: block;

}
paragraph{
position: absolute;
width: 300px;
height: 350px;
left: 40px;
top: 50px;
font-family: sans serif;
font-size: 20px;
color: azure;
}
rightup{
    box-sizing: border-box;
    position: absolute;
    width: 900px;
    height: 300px;
    left: 320px;
    top: 20px;
    background: black;
    border-radius: 40px;
}

